*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: rgb(253,94,83);
    background: linear-gradient(0deg, rgba(253,94,83,1) 0%, rgba(249,252,251,1) 40%, rgba(176,234,205,1) 60%, rgba(33,191,115,1) 100%);
    height: 100vh;
    width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    padding-top: 20px;
    color: rgb(44, 45, 46);
    font-size: 50px;
}

img{
    width:100px;
    height: 100px;
    justify-self: center;
}

.container{
    display:flex;
}

.card{
    width:33%;
    display:grid;
    grid-column:auto;
    justify-content: center;
}

button{
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 5px;  
    border-color: #e44848;
    color: #dd3636;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.10)
}

h2{
    text-align: center;
    padding: 10px;
    font-size: 40px;
}